.motion{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border: 1px solid #000000;

  user-select: none;
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}