.sfAlertWrapper{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   padding-top: 15vh;
   height: 100vh;
   overflow: hidden;
   display: block;
 }

 .sfAlertBox{
  position: absolute;
  color: #000000;
  background-color: #dedede;
  padding: 2em 0;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'decline message accept';
  grid-gap: 1em;
  border-radius: 1em;
  box-shadow: 2px 4px 5px #00000060;
  z-index: 10;
  font-size: calc(12px + 0.2vw);
}

.sfAlertBox div{
  padding: 1em;
  line-height: 1em;
}

.sfAlertAcceptBtn, .sfAlertDeclineBtn{
  height: 100%;
  border: 0;
  margin: 0;
  color: #ffffff;
  outline: none;
  font-size: calc(12px + 0.2vw);
}

.sfAlertDeclineBtn {
  background: linear-gradient(to right, #ce0407 0%, #8c0002 100%);
  border-radius: 0 1em 1em 0;
  box-shadow: -2px 0px 5px #aaaaaa60;
  grid-area: decline;
}

.sfAlertAcceptBtn {
  background: linear-gradient(to left, #04ce07 0%, #008c02 100%);
  border-radius: 1em 0 0 1em;
  box-shadow: 2px 0px 5px #aaaaaa60;
  grid-area: accept;
}

@media screen and (min-width: 768px){
  .sfAlertBox {
    padding: 1em;
    width: 50vw;
    min-width: 300px;
    max-width: 500px;
    display: grid;
    grid-gap: 0 1em;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 'message message message' 'empty decline accept';
  }
  .sfAlertBox div{
    grid-area: message;
  }

  .sfAlertAcceptBtn, .sfAlertDeclineBtn {
    display: block;
    height: auto;
    border-radius: 1em;
    cursor: pointer;
  }

  .sfAlertAcceptBtn{
    grid-area: accept;
    background: linear-gradient(#04ce07 0%, #008c02 100%);
  }
  .sfAlertDeclineBtn{
    grid-area: decline;
    background: linear-gradient(#ce0407 0%, #8c0002 100%);
  }
}